[Desktop Entry]
Name=Fetchmail
Name[pl]=Fetchmail
Comment=A graphical configuration tool for Fetchmail
Comment[pl]=Graficzne narzędzie konfiguracyjne dla Fechmaila
Exec=fetchmailconf
Terminal=0
Type=Application
# vi: encoding=utf-8
